#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.blue {
  background-color: blue;
  width: 100px;
  height: 100px;
  display: none;
}

.green {
  background-color: green;
  width: 100px;
  height: 100px;
  display: none;
}

.red {
  background-color: red;
  width: 100px;
  height: 100px;
  display: none;
}

.purple {
  background-color: purple;
  width: 100px;
  height: 100px;
  display: none;
}

.black {
  background-color: black;
  width: 100px;
  height: 100px;
  display: none;
}

.with-color {
  display: block;
}

.colors {
  width: 300px;
  height: 157px;
  border: 1px solid black;
  margin: 10px 0px;
}

.colors option {
  height: 30px;
  outline: 1px solid black;
}
